$black: rgb(30, 30, 30);
$gameWidthHeight: 15;

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 0px;
}
#container {
    width: 100%;
    height: 100%;
    >div{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;
        #directions {
            position: fixed;
            background-color: rgba(30, 30, 30, 0.5);
            cursor: pointer;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            >div {
                flex: 0 0 auto;
                background-color: rgb(200, 200, 200);
                padding: 16px 48px;
                text-align: center;
                h1 {
                    text-align: center;
                    font-size: 34px;
                    font-family: 'Coda', cursive;
                    font-weight: normal;
                    margin: 1em 0em; }
                ul {
                    font-family: 'Open Sans', sans-serif;
                    text-align: left;
                    list-style-type: none;
                    padding: 0px;
                    font-size: 21px;
                    li { margin: 16px; } }
                >div {
                    font-size: 34px; 
                    margin: 1em 0em;
                    font-family: 'Coda', cursive;
                    text-align: center;}
            }
        }
        #game-display{
            .cell {
                width: 100% / $gameWidthHeight;
                height: 100% / $gameWidthHeight;
                display: inline-block;
                cursor: pointer;
            }
            .hidden { background-color: $black; }
            .empty { background-color: rgb(200, 200, 200); }
            .player { background-color: green; }
            .enemy { background-color: red; }
            .wall {background-color: grey; }
        }
    }
}